.mainn {
    background-color: #fc8410;
    background-image: url('../images/backgroundleaves.png');
    background-size: 700px 400px;
    background-position: right;
    background-repeat: no-repeat;
  }

.dropdown_category:hover .dropdown_category_child{
  display: block;
}

.un {
  background: 
    linear-gradient(to right, #1068540c, #1068540c),
    linear-gradient(to right, #106853, #106853);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.unf {
  background: 
    linear-gradient(to right, #1068540c, #1068540c),
    linear-gradient(to right, #fc8410, #fc8410);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.un:hover {
  background-size: 0 0.1em, 100% 0.1em;
}
.unf:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

.a {
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  color: #f80;
  display: inline-block;
  padding: 0.5em 0em ;
  text-decoration: none;
  transition: background-size 300ms;
}

.a:hover {
  --underline-width: 100%;
}


.bgimg{
    background-image: url('../images/backgroundblueleave.png') , url(../images/backgroundyellowleave.png) ;
    background-position-x: left , right;
    background-position-y: 40% , 10%;
    background-repeat:no-repeat; 
    background-color: #f8f8f8; 
  
}
.onedrop:hover .onechild {
  display: block;
}
.seconddrop:hover .secondchild {
  display: block;
}

.hr {
  border: 1px solid rgba(0, 0, 0, 0.094);
  border-radius: 5px;
}




::selection {
  color: #fff;
  background: #17a2b8;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-input .field {
  display: flex;
  width: 100%;
  max-width: 75px;
  text-align: center;
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600px;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  text-align: center;
  height: 100%;
  outline: none;
  max-width: 75px;
  background-color: #dddddd;
  margin-left: 12px;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}


.subcategory-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-height: 600px;
  overflow: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--black-2);
  margin-bottom: 40px;

  .form-check {
      width: 100%;
      margin-bottom: 10px;

      label {
          text-transform: capitalize;
      }
  }
}
// .range-input {
//   position: relative;
// }
// .range-input input {
//   position: absolute;
//   width: 100%;
//   height: 5px;
//   top: -5px;
//   background: none;
//   pointer-events: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }
// input[type="range"]::-webkit-slider-thumb {
//   height: 17px;
//   width: 17px;
//   border-radius: 50%;
//   background: #17a2b8;
//   pointer-events: auto;
//   -webkit-appearance: none;
//   box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
// }
// input[type="range"]::-moz-range-thumb {
//   height: 17px;
//   width: 17px;
//   border: none;
//   border-radius: 50%;
//   background: #17a2b8;
//   pointer-events: auto;
//   -moz-appearance: none;
//   box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
// }